.showcase_wrapper{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    color: #000;
    /* position: relative; */
}

.showcase {};

.slide_show{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin-bottom: 2rem;
}

.slide_item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide_img{
    /* width: 400px; */
    margin-bottom: 3rem;
    margin: 4rem;
}

.arrow_left, .arrow_right{
    position: absolute; /* Position arrows absolutely within .showcase_wrapper */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    color: black;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.arrow_left{
    left: 0;
}
.arrow_right{
    right: 0;
}